aniso8601
certifi
chardet
click
Flask
Flask-Login
Flask-Moment
Flask-RESTful
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
psycopg2
pytz
requests
scipy
six
SQLAlchemy
SQLAlchemy-serializer
urllib3
Werkzeug
WTForms
scikit-learn
