{% extends "base.html" %}

{% block content %}
<h1 class="table_container">Новая заявка</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class = "inline">
            <p class = "child_inline"> {{ form.fullname.label }} </p>
            <p class = "make_border">{{ form.fullname(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.number.label }} </p>
            <p class = "make_border">{{ form.number(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.post.label }} </p>
            <p class = "make_border">{{ form.post(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.place_of_work.label }} </p>
            <p class = "make_border">{{ form.place_of_work(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.theme.label }} </p>
            <p class = "make_border">{{ form.theme(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.title.label }} </p>
            <p class = "make_border">{{ form.title(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.annotation.label }} </p>
            <p class = "make_border">{{ form.annotation(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.type.label }} </p>
            <p class = "make_border">{{ form.type(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.file.label }} </p>
            <p class = "make_border">{{ form.file(class="form-control") }}</p>
            {% for error in form.fullname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </div>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}
