{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}




{% block content %}
<meta charset="UTF-8">

{% set TYPES  = {"text": "Текстовая работа", "video": "Видео материал"} %}


<h2 align="center">Мои заявки</h2>
{% if not is_empty%}
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="2%" bgcolor="#dddddd" align="center">Id</td>
            <td class="title" width="5%" bgcolor="#dddddd" align="center">Тип работы</td>
            <td class="title" width="25%" bgcolor="#dddddd" align="center">Ссылка на работу</td>
            <td class="title" width="25%" bgcolor="#dddddd" align="center">Тема работы</td>
            <td class="title" width="6%" bgcolor="#dddddd" align="center">Голоса</td>
            <td class="title" width="6%" bgcolor="#dddddd" align="center">Статус</td>
            <td class="title" width="6%" bgcolor="#dddddd" align="center">Средняя оценка</td>
            <td class="title" width="8%" bgcolor="#dddddd" align="center">Действие</td>
        </tr>

        {% for proposal in proposals %}
                {%  set color = "#d0daed" %}
                {% set text_color = "#000" %}
        <tr class="my_row">
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ proposal.id }}</td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ TYPES[proposal.type] }}</td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}"><a href="{{proposal.file}}"> Работа №{{proposal.id}}</a></td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ proposal.theme }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ proposal.likes }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ STATUSES[proposal.status] }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">
                {% if proposal.rated_at_least_one%}
                <div>    {{proposal.average_score}}</div>
                {% else%}
                <div> Не оценена</div>
                {% endif %}
            </td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">
                {% if proposal.rated_at_least_one%}
                <div>       <a href="/proposals/view/{{ proposal.id }}" class="btn btn-warning">Посмотреть результаты</a>
                </div>
                {% else %}
                <div>   Еще не один эксперт не проверил работу
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
</div>


{% else %}
    <h2> У вас нет заявок </h2>
    {% if stage.can_make_proposes and current_user.access_level == 0%}
        <a href="/add_proposal">Добавить заявку</a>
    {% endif%}
{% endif%}



{% endblock %}