{% extends "base.html" %}

{% block content %}
<div align="center" style="margin: 10px 0px 0px 0px" >
<h1>Оценка работы экспертом</h1>
</div>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div align="center" style="margin:30px 0px 30px 0px">
    <a class="btn_dark"   href = "{{proposal.file}}">Ссылка на работу</a>
    </div>
        {% if proposal.type == "text" %}
        <h2>Параметры оценивания текстовой работы:</h2>
        <div class = "inline">
            <p class = "child_inline"> {{ form.relevance.label }} </p>
            <p class = "make_border">{{ form.relevance(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.integrity.label }} </p>
            <p class = "make_border">{{ form.integrity(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.validity.label }} </p>
            <p class = "make_border">{{ form.validity(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.resonance.label }} </p>
            <p class = "make_border">{{ form.resonance(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.accuracy.label }} </p>
            <p class = "make_border">{{ form.accuracy(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.ethnicity.label }} </p>
            <p class = "make_border">{{ form.ethnicity(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.availability.label }} </p>
            <p class = "make_border">{{ form.availability(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.materials_cycle.label }} </p>
            <p class = "make_border">{{ form.materials_cycle(class="form-control") }}</p>
        </div>
    {% else %}
        <h2>Параметры оценивания видеоматериала:</h2>
        <div class = "inline">
            <p class = "child_inline"> {{ form.expression_of_thought.label }} </p>
            <p class = "make_border">{{ form.expression_of_thought(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.integrity.label }} </p>
            <p class = "make_border">{{ form.integrity(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.personalized_character.label }} </p>
            <p class = "make_border">{{ form.personalized_character(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.artistic_techniques.label }} </p>
            <p class = "make_border">{{ form.artistic_techniques(class="form-control") }}</p>
        </div>
        <div class = "inline">
            <p class = "child_inline"> {{ form.operators_work.label }} </p>
            <p class = "make_border">{{ form.operators_work(class="form-control") }}</p>
        </div>
    {% endif %}
    <h2>Параметры понижения оценки</h2>
    <div class = "inline">
            <p class = "child_inline"> {{ form.promotional_materials.label }} </p>
            <p class = "make_border">{{ form.promotional_materials(class="form-control") }}</p>
        </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.journalistic_stamps.label }} </p>
            <p class = "make_border">{{ form.journalistic_stamps(class="form-control") }}</p>
        </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.сustom_nature.label }} </p>
            <p class = "make_border">{{ form.сustom_nature(class="form-control") }}</p>
        </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.grammatical_errors.label }} </p>
            <p class = "make_border">{{ form.grammatical_errors(class="form-control") }}</p>
        </div>
    <div class = "inline">
            <p class = "child_inline"> {{ form.orthoepic_norms.label }} </p>
            <p class = "make_border">{{ form.orthoepic_norms(class="form-control") }}</p>
    </div>



    <p>{{ form.submit(type="submit", class="btn_dark") }}</p>
</form>
{% endblock %}
