{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">

{% endblock %}

{% block content %}
{% set STAGE = {1:"Ожидается запуск",2:"Прием заявок",3:"Независимая экспертиза",4:"Завершение конкурса"}%}
<style>
.ordinary {
    background-color: #d0daed;
}
.parent {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  width: 60%;
  height: 100%;
}
.child-active {
  background-color: silver;

  box-shadow: 13px 13px 7px -6px #b0b0b0;
  color: #141414;
}
.child-active:hover {
  background-color: #D3D3D3;
  color: #616161;
}
}
.child {

  width: 40%;
  height: 40%;
}
.panel{
    margin:5px;
    box-shadow: 15px 20px 25px -13px #bababa;
    background-color: #e3e3e3;
    border: 1.5px;
    border-radius: 15px;
    padding:10px;
}
.panel_news{
    background-color: #EEEEEE;
    box-shadow: 15px 20px 25px -13px #bababa;
    border: 1.5px;
    border-radius: 15px;
    padding:20px;
    margin:20px;
}
</style>
{% if current_user.access_level == 3 %}


    <div class="panel">
    <h1 style="padding:25px 25px 0px 25px">Панель управления</h1>
    <div class="table_container">
    <table class="table table-hover">
        <tr class="my_row">
            <td class="table-dark" width="5%" bgcolor="#dddddd" align="center">Текущая стадия конкурса</td>
            <td class="table-dark" width="5%" bgcolor="#dddddd" align="center">Общее количество работ</td>
            <td class="table-dark" width="5%" bgcolor="#dddddd" align="center">Количество оцененных работ</td>
        </tr>
        <tr class="my_row">
            <td bgcolor="red" align="center" style="color:{{text_color}}">{{ STAGE[stage.stage] }}</td>
            <td class="table-red" align="center" style="color:{{text_color}}">{{ total_proposals }}</td>
            <td class="ordinary" align="center" style="color:{{text_color}}">{{ verified_proposes }}</td>
        </tr>
    </table>
    </div>
    <h2>Установить этап конкурса:</h2>
    <div class="parent">
        <a class="{{'btn_dark'+ (stage.stage == 1) *' child-active'}}"href="/set_stage/1" >Ожидается запуск</a>
        <a href="/set_stage/2" class="{{'btn_dark'+ (stage.stage == 2) *' child-active'}}" *"child-active"}}">Прием заявок</a>
        <a href="/set_stage/3" class="{{'btn_dark'+ (stage.stage == 3) *' child-active'}}">Независимая экспертиза</a>
        <a href="/set_stage/4" class="{{'btn_dark'+ (stage.stage == 4) *' child-active'}}">Завершение конкурса</a>
    </div>
    <h2>Добавить проверяющих экспертов:</h2>
    <div class="parent">
    <a class="btn_dark" href="add_expert" style="margin:0px, 20px,20px,20px">Зарегистрировать эксперта</a>
    </div>
    </div>
{% endif%}
{% block news %}
{% endblock %}


{% endblock %}


