{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">

{% endblock %}

{% block content %}
{% set STAGE = {1:"Ожидается запуск",2:"Прием заявок",3:"Независимая экспертиза",4:"Завершение конкурса"}%}
{% if current_user.access_level == 3 %}

<style>
.ordinary {
    background-color: #d0daed;
}
.parent {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.child-active {
  background-color: green
}
.child {
  width: 40%;
  height: 40%;
}
</style>
    <h1>Панель управления</h1>
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="5%" bgcolor="#dddddd" align="center">Текущая стадия конкурса</td>
            <td class="title" width="5%" bgcolor="#dddddd" align="center">Общее количество заявок заявок</td>
            <td class="title" width="5%" bgcolor="#dddddd" align="center">Количество заявок которые прошли проверку</td>
        </tr>
        <tr class="my_row">
            <td class="ordinary" align="center" style="color:{{text_color}}">{{ STAGE[stage.stage] }}</td>
            <td class="ordinary" align="center" style="color:{{text_color}}">{{ total_proposals }}</td>
            <td class="ordinary" align="center" style="color:{{text_color}}">{{ verified_proposes }}</td>
        </tr>
    </table>
    <h2>Установить этап конкурса:</h2>
    <div class="parent">
        <a class="{{'btn btn-secondary'+ (stage.stage == 1) *' child-active'}}"href="/set_stage/1" >"Ожидается запуск"</a>
        <a href="/set_stage/2" class="{{'btn btn-secondary'+ (stage.stage == 2) *' child-active'}}" *"child-active"}}">"Прием заявок"</a>
        <a href="/set_stage/3" class="{{'btn btn-secondary'+ (stage.stage == 3) *' child-active'}}">"Независимая экспертиза"</a>
        <a href="/set_stage/4" class="{{'btn btn-secondary'+ (stage.stage == 4) *' child-active'}}">"Завершение конкурса"</a>
    </div>
{% endif%}
{% if stage.stage >=1%}
<h2 style="margin:20px">
    Анонс конкурса журналистов
</h2>
<p>
    Мы анонсируем конкурс журналистов
</p>
<p>
    Прием заявок будет проходить с 4.12.2022 по 10.12.2022
    Экспертиза заявок будет длиться в течении двух недель
</p>
<p>
    Во время экспертизы будет проходить народное голосование по участникам
    После окончания экспертизы вы можете посмотреть результаты проверки экспертами ваших заявок
</p>
{% endif%}
{% if stage.stage >=2%}
<h2 style="margin:20px">
    Стартовал прием заявок на наш конкурс
</h2>
<p>
    Мы анонсируем прием заявок на наш конкурс
</p>
<p>
    Прием заявок будет проходить с 4.12.2022 по 10.12.2022
</p>
{% endif%}
{% if stage.stage >=3%}
<h2 style="margin:20px">
    Началась экспертиза поданных заявок
</h2>
<p>
    Подача заявок завершена и поданные заявки будут рассмотренны экспертами
</p>
<p>
    Экспертиза заявок будет проходить в течение двух недель паралельно
    будет проходить народное голосование
</p>
{% endif%}
{% if stage.stage >=4%}
<h2 style="margin:20px">
    Экспертиза и народное голосование оконченно
</h2>
<p>
    Подведены итоги конкурса
</p>
<p>
    Результаты оценивания можно посмотреть в общей таблице
</p>
{% endif%}
{% endblock %}


