{% extends "main.html" %}
{% block news %}
<h1 style="padding:25px 25px 0px 0px">Новости:</h1>
{% if stage.stage >=4%}
{# Новость ниже появляется во время этапа "Завершение конкурса"#}


<div  class="panel_news">

<h2  style="margin:20px">
    Экспертиза работ и народное голосование завершено
</h2>
<p>
    <h5>Награждение участников конкурса</h5>
    Главной наградой для победителя конкурса является:<br>
</p>
<p>
    <h5>1 место.</h5>
    Диплом от Министерства региональной и информационной политики Оренбургской области за победу в конкурсе.<br>
    Генеральная премия для авторов от Министерства региональной и информационной политики Оренбургской области<br>
</p>
<p>
    <h5>2 место.</h5>
    Диплом от Министерства региональной и информационной политики Оренбургской области за победу в конкурсе.<br>
    Премия для авторов от Министерства региональной и информационной политики Оренбургской области<br>
</p>
<p>
    <h5>3 место.</h5>
    Диплом от Министерства региональной и информационной политики Оренбургской области за победу в конкурсе.<br>
    Премия для авторов от Министерства региональной и информационной политики Оренбургской области<br>
</p>
<p>
    <h5>Гран-при конкурса «Твой шанс»!</h5>
    Награждается победитель народного голосования <br>
    Диплом от Министерства региональной и информационной политики Оренбургской области за победу в конкурсе.<br>
    Премия для авторов от Министерства региональной и информационной политики Оренбургской области<br>
</p>
<p>
    Результаты оценивания можно посмотреть в общей таблице
</p>
</div >
{% endif%}
{% if stage.stage >=3%}
{# Новость ниже появляется во время этапа "Независимая экспертиза"#}


<div class="panel_news" >
<h2 class="header" style="margin:20px">
    Начало экспертизы поданных заявок и народного голосования
</h2>
<p>
    Подача заявок завершена <br>
    <h5>Дата экспертизы и народного голосования:</h5>
<p>
    Заявки принимаются с <b>20 декабря 2022 г</b><br>
    Прием заявок проходить до <b>31 декабря 2022 г</b>
</p>
</p>
<p>
    Экспертиза заявок будет проходить в течение двух недель паралельно
    будет проходить народное голосование
</p>
</div>
{% endif%}
{% if stage.stage >=2%}
{# Новость ниже появляется во время этапа "Прием заявок"#}


<div class="panel_news">
<h2 style="margin:20px">
    Начало приема заявок
</h2>
<h5>Дата приема заявок:</h5>
<p>
    Заявки принимаются с <b>15 декабря 2022 г</b><br>
    Прием заявок проходить до <b>20 декабря 2022 г</b>
</p>
    </div>
{% endif%}
{% if stage.stage >=1%}
{# Новость ниже появляется во время этапа "Ожидается запуск"#}


<div class="panel_news">
<h2 style="margin:20px">
    Творческий конкурс журналистов "Твой шанс"
</h2>
<h5>Учредители конкурса:</h5>
<p>
    Министерство региональной и информационной политики Оренбургской области <br>
    Даты проведения:<br>
    <b>С 5 декабря по 31 декабря 2022 г. <br></b>
    (Заявки принимаются с <b>15 декабря 2022 г</b> )
</p>
<h5>Цели и задачи конкурса:</h5>
<p>
    •	привлечение внимания общества к деятельности средств массовой информации по объективному освещению социально значимых тем;<br>
    •	повышение профессионального мастерства журналистов;<br>
    •	поощрение социально ответственных работников средств массовой информации, журналистских творческих групп, редакций средств массовой информации;<br>
</p>
</div>
{% endif%}
{% endblock %}