{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}




{% block content %}
<meta charset="UTF-8">
{% set TYPES  = {"text": "Текстовая работа", "video": "Видео материал"} %}


<h2 align="center">Таблица заявок</h2>
<div class="table_container">
    <table class="table table-striped table-hover">
        <tr class="my_row">
            <td class="table-dark" width="2%" bgcolor="#dddddd" align="center">Id</td>
            <td class="table-dark" width="5%" bgcolor="#dddddd" align="center">Тип работы</td>
            <td class="table-dark" width="25%" bgcolor="#dddddd" align="center">Ссылка на работу</td>
            <td class="table-dark" width="25%" bgcolor="#dddddd" align="center">Тема работы</td>
            <td class="table-dark" width="6%" bgcolor="#dddddd" align="center">Статус</td>
            <td class="table-dark" width="6%" bgcolor="#dddddd" align="center">Голоса</td>
            <td class="table-dark" width="6%" bgcolor="#dddddd" align="center">Средняя оценка</td>
            <td class="table-dark" width="8%" bgcolor="#dddddd" align="center">Действие</td>
        </tr>
        {% for proposal in proposals %}
            {% set color = "#d0daed"  %}
            {% set text_color = "ffffff" %}
        <tr class="my_row">
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ proposal.id }}</td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ TYPES[proposal.type] }}</td>
            <td  align="center"><a class="anchor" href="{{proposal.file}}"> Работа №{{proposal.id}}</a></td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ proposal.theme }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ STATUSES[proposal.status] }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ proposal.likes }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">
                {% if proposal.rated_at_least_one%}
                <div>    {{proposal.average_score}}
                </div>
                {% endif %}
            </td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">
                {% if proposal.rated_at_least_one%}
                <div class="btn_dark">       <a href="/proposals/view/{{ proposal.id }}" style = "text-decoration : none; color: #ffffff"  >Посмотреть результаты</a>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}