{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}




{% block content %}
<meta charset="UTF-8">
{% set STATUSES  = {"waiting_verification": "Ожидает оценивания", "verified": "Оценена", "aborted":  "Отменена"} %}
{% set TYPES  = {"text": "Текстовая работа", "video": "Видео материал"} %}


<h2 align="center">Таблица заявок</h2>
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="4%" bgcolor="#dddddd" align="center">Id</td>
            <td class="title" width="5%" bgcolor="#dddddd" align="center">Тип работы</td>
            <td class="title" width="8%" bgcolor="#dddddd" align="center">Ссылка на работу</td>
            <td class="title" width="25%" bgcolor="#dddddd" align="center">Тема работы</td>
            <td class="title" width="35%" bgcolor="#dddddd" align="center">Аннотация к работе</td>
            <td class="title" width="6%" bgcolor="#dddddd" align="center">Голоса</td>
            <td class="title" width="8%" bgcolor="#dddddd" align="center">Отдать голос</td>
        </tr>
        {% for proposal in proposals %}
            {% if proposal.status != "verified" %}
                {%  set color = "#dc143c" %}
                {% set text_color = "#FFF0F5" %}
            {% else %}
                {% set color = "#d0daed"  %}
                {% set text_color = "ffffff" %}
            {% endif %}
        <tr class="my_row">
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ proposal.id }}</td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ TYPES[proposal.type] }}</td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}"><a href="{{proposal.file}}"> Работа №{{proposal.id}}</a></td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ proposal.theme }}</td>
            <td class="ordinary" bgcolor ={{color}} style="color:{{text_color}}">{{ proposal.annotation }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">{{ proposal.likes }}</td>
            {% if current_user.access_level >= 2  and proposal.can_be_rated(current_user.id)%}
                <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">
                        <div>       <a href="/proposals/rate/{{ proposal.id }}" class="btn btn-warning" >Оценить заявку</a>
                    </div>
                </td>
            {%else %}
                <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">
                        <div>       <a href="/proposals/view/{{ proposal.id }}" class="btn btn-warning" >Посмотреть заявку</a>
                    </div>
                </td>
            {% endif %}
            {% if current_user.access_level < 2 %}
            <td class="ordinary" bgcolor ={{color}} align="center" style="color:{{text_color}}">
                <div>       <a href="/proposals/view/{{ proposal.id }}" class="btn btn-warning" >+</a>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}